extends layout

block content
  h1 Hello World!
  p
    h2 Welcome to CSE 405. Using #{title}
  p By: Ivan Almaraz
  p
    a(style="color: yellow" href="/login") Login
  p This page will be used for experimenting with Node.js, Express, React and Jade(pug).